
.footer {
  display: flex;
  align-items: center;
  background-color: $primary-color;
  padding: 3em 0;
  &__content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 4em;
  }
  &__title {
    font-size: 3em;
    text-transform: uppercase;
    color: $secondary-color;
    font-family: $font-title;
    letter-spacing: 1.5px;
    margin: 0;
    @media screen and (max-width: 768px) {
      font-size: 2em;
      text-align: center;
    }
  }
}

.others-pokemons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1em;
  border-radius: 20px;
  @media screen and (max-width: 768px) {
    max-width: 80%;
    margin: 0 auto;
    gap: 3em;
  }
}

.other-pokemon {
  &__button {
    border: none;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    filter: grayscale(1);
    transition: transform .5s ease-in-out, filter .5s ease-in-out;
    &:hover {
      filter: grayscale(0);
      transform: translateY(5px) rotate(3deg) scale(.9);
      .other-pokemon__image {
        transform: translateY(-25px) scale(1.8);
        filter: drop-shadow( $shadown);
      }
    }
  }
  &__image {
    width: 80px;
    height: 120px;
    object-fit: contain;
    transition: transform .5s ease-in-out, filter .5s ease-in-out;
  }
}

